fastapi
uvicorn
python-multipart
python-dotenv
langchain==0.3.25
langchain-core==0.3.55
langchain-community==0.3.23
langchain-huggingface==0.1.2
langchain-groq==0.3.2
langchain-google-genai==2.1.4
sentence-transformers==3.4.1
pgvector
psycopg2-binary
groq
google-generativeai
openai
requests
beautifulsoup4
firecrawl-py
rank-bm25
numpy