fastapi
uvicorn
python-multipart
python-dotenv
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-google-genai
sentence-transformers
pgvector
psycopg2-binary
groq
google-generativeai
openai
requests
beautifulsoup4
firecrawl-py
rank-bm25
numpy